@import 'global';
main{
  min-height: 100vh;
}

.btn-success{
  padding: 10px 30px;
  background: #39A564;
  color: #ffffff!important;
  box-shadow: 0pt 3px 10px -5px;
  //border-radius: 20px;
}

.btn-danger{
  padding: 10px 30px;
  background: var(--color-error);
  color: #ffffff!important;
  box-shadow: 0pt 3px 10px -5px;
  //border-radius: 20px;
  border: none!important;
  line-height: 25px;
}

svg{
  text{
    font-size: 2rem;
  }
}

.dropdown{
  button{
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}